<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="well form">
      <legend ><%= t('add_finance_action') %></legend>
      <%= render 'finances/form' %>
    </div>
  </div>
</div>